/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_tecspark";
    src: url("../fonts/flaticon_tecspark.woff2?1af72611aeacce1e3d034c502313dfa7") format("woff2"),
url("../fonts/flaticon_tecspark.woff?1af72611aeacce1e3d034c502313dfa7") format("woff"),
url("../fonts/flaticon_tecspark.eot?1af72611aeacce1e3d034c502313dfa7#iefix") format("embedded-opentype"),
url("../fonts/flaticon_tecspark.ttf?1af72611aeacce1e3d034c502313dfa7") format("truetype"),
url("../fonts/flaticon_tecspark.svg?1af72611aeacce1e3d034c502313dfa7#flaticon_tecspark") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_tecspark !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-gear:before {
    content: "\f101";
}
.flaticon-customer-support:before {
    content: "\f102";
}
.flaticon-money-bag:before {
    content: "\f103";
}
.flaticon-developer:before {
    content: "\f104";
}
.flaticon-password:before {
    content: "\f105";
}
.flaticon-megaphone:before {
    content: "\f106";
}
.flaticon-vector:before {
    content: "\f107";
}
.flaticon-data:before {
    content: "\f108";
}
.flaticon-wrench:before {
    content: "\f109";
}
.flaticon-briefcase:before {
    content: "\f10a";
}
.flaticon-like:before {
    content: "\f10b";
}
.flaticon-trophy:before {
    content: "\f10c";
}
.flaticon-user:before {
    content: "\f10d";
}

